<nav>
<div class="nav-wrapper indigo">
  <a href="" class="brand-logo center"> Memories of Time </a>
  </ul>
</div>
</nav>

<script type="text/javascript">
$(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

<div class="row"></div>
<div class="row"></div>
<div class="container">
<ul class="collapsible">
<% @posts.each do |post| %>
    <li>
      <div class="row">
        <div class="collapsible-header">
          <div class="col s12 m4 l2 left-align">
            <%= image_tag('http://openweathermap.org/img/w/' + post.weather_icon + '.png') %> <br>
            <h8><%= post.temp - 273.15 %> &deg;C </h8>
          </div>

          <div class="col s12 m4 l8 center-align">
            <span class="flow-text truncate"> <%= post.title %> </span>
          </div>

          <div class="col s12 m4 l2 right-align">
            <div rows>
              <h6 class="center-align"> <%= post.created_at.strftime("%d") %> <%= post.created_at.strftime("%a") %></h6>
              <h6 class="center-align"><%= post.created_at.strftime("%Y") %></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <span>
          <%= post.text %>
        </span>
      </div>
    </li>
<% end %>
</ul>
</div>
</div>

<div class="fixed-action-btn">
  <%= link_to '<i class="large material-icons">mode_edit</i>'.html_safe, new_post_path , :class => "btn-floating btn-large  red darken-1"%>
</div>
