<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<p>
  <strong>Region:</strong>
  <%= @post.region_name %>,
  <%= @post.region_code %>

</p>

<p>
  <strong>Country:</strong>
  <%= @post.country_name %>,
  <%= @post.country_code %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @post.weather_description %> ||
  <%= @post.weather_icon %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @post.temp %> <br>
  Min: <%= @post.temp_min %> <br>
  Max: <%= @post.temp_max %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>
